html,
body {
    height: 100%;
}

.grid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.row {
    width: 30px;
    height: 30px;
    border-style: solid;
    border-width: 1px;
    background: gold;
    text-align: center;
}

.row:hover {
    background: black;
}