html,
body {
    height: 100%;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 100px;
    align-items: flex-end;
    font-smooth: never;
-webkit-font-smoothing : none;
    font-family: 'Copperplate';
}
#title {
    margin-top: 40px;
    justify-content: flex-end;
    color: greenyellow;
    border-width: 5px;
    border-style: solid;
    border-color: greenyellow;
    border-radius: 5px;
    padding: 7px 14px;
    transition: all 0.3s;
}
#title:hover{
transform: translateY(-15px);
background-color: greenyellow;
color: black;
}


#content {
    color: greenyellow;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#menu {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#menu-settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#menu-settings-size,
#menu-settings-color {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
}
input[type=range]{
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: greenyellow;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    border-style: solid;
    border-color: greenyellow;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: greenyellow;
}

#color-picker {
    background-color: greenyellow;
    border-style: solid;
}

.grid {
    border-style: solid;
    border-color: greenyellow;
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.row {
    text-align: center;
    display: flex;
    flex-grow: 1;
    border-style: solid;
    border-width: 0.01em;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
}

#clear-button {
    background-color: black;
    border-style: solid;
    border-color: greenyellow;
    color: greenyellow;
}
#sign {
    color: greenyellow;
    margin-bottom: 40px;
}
#github-logo {
    width: 25px;
}