html,
body {
    height: 100%;
}
#container {
    height: 100%;
    border-style: solid;
    border-color: red;
}
#content {
    border-style: solid;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.grid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
}

.row {
    border-style: solid;
    border-width: 1px;
    background: white;
    text-align: center;
    display: flex;
    flex-grow: 1;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-self: stretch;
}